.ae-modal {
    position: absolute;
    height: 50vh;
    width: 50%;
    border: 1px solid black;
    background-color: gray;
    z-index: 500;
    left: 200px;
    top: 100px;
    box-shadow: 10px 5px 5px black;
    .ae-modal-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 40vh;
        .close {
            color: white;
        }
    }
}

ul {
    list-style-type: none;
}