header {
    background-color:#6C648D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:50px;
    width:100%;
    a{
    text-decoration: none;
    color: whitesmoke
    
    
}
 :hover{
     font-size: 20px;
    color: #6CBBA8;

}
    }
.background-frontpage {
    display: flex;
    background-image: url("../app/styles/pics/william-iven-19843.jpg");
    width:100%;
    height:100vh;
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
    background-size:cover;
    background-repeat:no-repeat;
    flex-direction: column;
    justify-content:center;
    font-size: 30px;
    color: black;
    flex-wrap: wrap;
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    margin-top: -200px;
background-color:#63B3A0;
height:107px;
color:black;
width:100%;
    
}
    
}

footer{
    height:50px;
    width: 100%;
    background-color:#6C648D;
    position: fixed;
    bottom: 0px;
}

