<table>
    <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>Edit Grade</th>
    </tr>
    <a ui-sref="chart">Chart</a>

    <input type="text" placeholder="Name" ng-model="postinfo.name">
    <!--Select grade dropdown menu-->
    <select placeholder="Grade" ng-model="postinfo.grade">  
       <option selected value="1" onclick="quarterUpdate()" >1</option>
       <option value="2" onclick="quarterUpdate()" >2</option>
       <option value="3" onclick="quarterUpdate()" >3</option>
       <option value="4" onclick="quarterUpdate()" >4</option>
       </select>
    <button ng-click="post(postinfo)">Add</button>
    <!-- Edit grade column 3 -->
    <tr ng-repeat="grade in grades">
        <td>{{grade.name}} </td>
        <td>{{grade.grade}}</td>
        <td align="center">
            <select width="144" style="height:19px; width:140px; text-align:center;">
       <option selected value="1" onclick="quarterUpdate()" >1</option>
       <option value="2" onclick="quarterUpdate()" >2</option>
       <option value="3" onclick="quarterUpdate()" >3</option>
       <option value="4" onclick="quarterUpdate()" >4</option>
   </select>
            <button ng-model="postinfo.grade" ng-click="post(postinfo)">Update</button>
        </td>
    </tr>
</table>